.texto-justificado {
  text-align: justify;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  background-color: #C5A059;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

header img {
  height: 65px;
  width: auto;
  display: block;
}

nav {
  display: flex;
  gap: 24px;
}

nav a {
  color: #4a3025;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  color: #5A4630;
}

/* PÁGINA DE CONTATO */

.contato {
  text-align: center;
  padding: 60px 20px;
}

.contato h1 {
  margin-bottom: 35px;
}

.contato > p {
  margin-bottom: 35px;
}

.contato-opcoes {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.contato-opcoes a {
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 8px;
}

.endereco,
.horario {
    max-width: 500px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
}

.endereco h2,
.horario h2 {
    margin-bottom: 15px;
}

.endereco p,
.horario p {
    line-height: 1.6;
}

.endereco a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
}

/* Estilização dos cards dentro da página de contatos*/

.contato-card {
    width: 230px;
    min-height: 180px;
    padding: 30px 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    
    color: #333;

    background-color: #ffffff;

    border-radius: 15px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.10);

    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

/* Estilização do conteúdo que está dentro dos cards na página de contatos*/

.contato-card .icone {
    font-size: 35px;
    margin-bottom: 12px;
}

.contato-card {
    margin-bottom: 10px;
    font-size: 20px;
}

.contato-card p {
    margin: 0;
    line-height: 1.5;
    font-size: 14px;
}

.contato-card:hover {
    transform: translateY(-8px);

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
/*Telas menores*/
@media (max-width: 600px) {

    .contato-card {
        width: 100%;
        max-width: 300px;
    }

}

/*Página de serviços*/

.titulo-servicos {
    text-align: center;
    padding: 120px 20px 80px;
}

.titulo-servicos h1 {
    margin: 15px 0;
}

.titulo-servicos p:last-child {
    max-width: 600px;
    margin: auto;
}

/*Bloco de cada serviço*/

.servico {
    max-width: 1100px;
    margin: 0 auto;
    padding: 70px 30px;

    display: flex;
    align-items: center;
    gap: 70px;

    border-bottom: 1px solid #ddd;
}

/*Imagem*/

.servico-imagem {
    flex: 1;
}

.servico-imagem img {
    width: 75%;
    display: block;

    border-radius: 10px;
}

/*Informações*/

.servico-informacoes {
    flex: 1;
}

.servico-informacoes h2 {
    margin-bottom: 20px;
}

.servico-descricao {
    line-height: 1.8;
    margin-bottom: 25px;
}

/*Preço e duração*/

.servico-detalhes {
    margin-bottom: 30px;
}

.servico-detalhes p {
    margin: 10px 0;
}

/*Beneficios*/

.servico-informacoes h3 {
    margin-bottom: 15px;
}

.servico-informacoes ul {
    padding-left: 20px;
}

.servico-informacoes li {
    margin-bottom: 10px;
}

/*Responsividade*/

@media (max-width: 768px) {

    .servico {
        flex-direction: column;

        gap: 35px;

        padding: 50px 25px;
    }

    .titulo-servicos {
        padding: 100px 20px 60px;
    }

}

/*Página inicial, toda a estrutura, fora o cabeçalho*/
/*Foto no plano de fundo*/

.inicio {
  position: relative;
  min-height: 100vh;

  background-image: url("imagens/lais-profissional-capa.jpg");
  background-size: cover;
  background-position: center 5%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 80px 10%;
}

/*Edição da imagem na página inicial*/

.camada-fundo {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.55);
  z-index: 0;
}

/*CONTEÚDO DA PÁGINA, TEXTO DO QUADRO*/
.conteudo-inicio {
  position: relative;
  z-index: 1;

  max-width: 1200px;
  text-align: center;
}

.conteudo-inicio h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.slogan {
  font-size: 1.3rem;
  margin-bottom: 40px;
}

/*Caixa de apresentação*/
.apresentacao {
  background-color: rgb(255, 255, 255, 0.80);

  padding: 40px;

  border-radius: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

/*Título e texto*/

.apresentacao h2 {
  margin-bottom: 20px;
}

.texto-justificado {
  text-align: justify;

  line-height: 1.7;

  margin-bottom: 30px;
}

/*Botão*/
.botao-servicos {
  display: inline-block;

  padding: 14px 28px;

  border-radius: 30px;

  text-decoration: none;

  transition: 0.3s;
}


.botao-servicos:hover {
  transform: scale(1.05);
}

/*Página sobre, toda a estrutura, fora o cabeçalho*/
/*Foto no plano de fundo*/

.sobre {
  position: relative;
  min-height: 100vh;

  background-image: url("imagens/lais-profissional2.jpg");
  background-size: cover;
  background-position: center 5%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 80px 10%;
}

/*Edição da foto*/

.camada-sobre {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.55);
}

.conteudo-sobre {
  position: relative;
  z-index: 1;

  max-width: 800px;
  margin: auto;
}

/*QUADROS PARA APRESENTAR AS ESPECIALIZAÇÕES NA ABA SOBRE*/
.quadro {
  background-color: rgb(255, 255, 255, 0.80);

  padding: 40px;

  border-radius: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

  margin-bottom: 30px;
}

.quadro2 {
  background-color: rgb(255, 255, 255, 0.80);

  padding: 40px;

  border-radius: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

  margin-bottom: 30px;
}

.quadro3 {
  background-color: rgb(255, 255, 255, 0.80);

  padding: 40px;

  border-radius: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

  margin-bottom: 30px;
}

.quadro4 {
  background-color: rgb(255, 255, 255, 0.80);

  padding: 40px;

  border-radius: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

  margin-bottom: 30px;
}

/*Página avaliações, toda a estrutura, fora o cabeçalho*/
/*Foto no plano de fundo*/

.faq {
  position: relative;
  min-height: 100vh;

  background-image: url("imagens/lais-profissional3.jpg");
  background-size: cover;
  background-position: center 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 80px 10%;
}

/*Edição da foto*/

.camada-faq {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.55);
}

.conteudo-faq {
  position: relative;
  z-index: 1;

  max-width: 800px;
  margin: auto;
}

/*TEXTO AO LADO DA LOGO-MARCA NA PÁGINA SERVIÇOS*/
.logo-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.logo-area span {
    font-size: 18px;
    color: #5A4630;
}